<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#/transactions">Transactions</a></li>
  <li><a href="#/year">Year</a></li>
  <li><a href="#/categories">Categories</a></li>
  <li><a href="#/household">Household</a></li>
</ul>

<h1>Transactions</h1>
<h4>Upload</h4>
<div class="row">
  <div class="col-md-12">
    <form action="upload" method="post" enctype="multipart/form-data" role="form">
      <div class="form-group">
        <label>Saved file from net bank</label>
        <input type="file" name='fileUploaded'>
        <p class="help-block">Download a file from Nordea net bank and upload it through here.</p>
      </div>
      <div class="form-group">
        <input type="submit" value="Upload &rarr;" class="btn btn-default">
      </div>
    </form>
  </div>
</div>
<h4>Filter</h4>
<div class="row">
  <div class="col-md-6">
    <form action="" class="">
      <div class="form-group">
        <label>From date</label>
        <input type="text" ng-model="from_date" class="form-control" placeholder="2014-09-01">
      </div>
      <div class="form-group">
        <label>To date</label>
        <input type="text" ng-model="to_date" class="form-control" placeholder="2014-09-30">
      </div>
      <div class="form-group">
        <label>Account</label>
        <input type="text" ng-model="from_account" class="form-control" placeholder="FI12 1001 3500 3219 82">
      </div>
      <button type="button" class="btn btn-default" ng-click="search()">Search</button>
    </form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tr ng-repeat="category in categories">
        <th>{{category.name}}</th>
        <td class="text-right">{{category.amount | number : 2}} €</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <h4>Query results</h4>
  <table class="table">
    <tr>
      <th>Booking date</th>
      <th>From account</th>
      <th>To account / Card</th>
      <th>Receiver</th>
      <th>Category</th>
      <th class="text-right">Amount</th>
    </tr>
    <tr ng-repeat="tx in transactions | orderBy:predicate">
      <td>{{tx.booking_date | date:'yyyy-MM-dd'}}</td>
      <td>{{tx.from_account_number}}</td>
      <td>{{tx.to_account_number || tx.card_number}}</td>
      <td>{{tx.receiver}}</td>
      <td>
        <select class="form-control" ng-model="tx.category" ng-options="category for category in selectableCategories" ng-change="setCategory(tx)">
          <option value=""></option>
        </select>
      </td>
      <td class="text-right ">{{tx.amount | number : 2}} €</td>
    </tr>
  </table>
  </div>
</div>
