<ul class="nav nav-tabs" role="tablist">
  <li><a href="#/transactions">Transactions</a></li>
  <li class="active"><a href="#/year">Year</a></li>
  <li><a href="#/categories">Categories</a></li>
  <li><a href="#/household">Household</a></li>
</ul>

<h1>Year</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table year">
      <tr>
        <th></th>
        <th class="text-center" ng-repeat="month in months">
          {{month.readableMonth}}
        </th>
      </tr>
      <tr>
        <th>Total</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.total | number: 2}}
        </td>
      </tr>
      <tr class="active">
        <th colspan="13">Income</th>
      </tr>
      <tr ng-repeat="category in categories | filter:income">
        <th>{{category.name}}</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.categoryForName(month, category) | number : 2}}
        </td>
      </tr>
      <tr class="active">
        <th colspan="13">Savings</th>
      </tr>
      <tr ng-repeat="category in categories | filter:saving">
        <th>{{category.name}}</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.categoryForName(month, category) | number : 2}}
        </td>
      </tr>
      <tr class="active">
        <th colspan="13">Expenses</th>
      </tr>
      <tr ng-repeat="category in categories | filter:expense">
        <th>{{category.name}}</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.categoryForName(month, category) | number : 2}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row" ng-repeat="person in persons">
  
  <div class="col-md-12">
    <h3>{{person.name}}</h3>
    <table class="table">
      <tr>
        <th></th>
        <th class="text-center" ng-repeat="month in personMonths[person.name]">
          {{month.readableMonth}}
        </th>
      </tr>
      <tr>
        <th>Total</th>
        <td class="text-center" ng-repeat="month in personMonths[person.name]">
          {{month.total | number: 2}}
        </td>
      </tr>
      <tr class="active">
        <th colspan="13">Income</th>
      </tr>
      <tr ng-repeat="category in personCategories[person.name] | filter:income">
        <th>{{category.name}}</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.categoryForName(month, category) | number : 2}}
        </td>
      </tr>
      <tr class="active">
        <th colspan="13">Savings</th>
      </tr>
      <tr ng-repeat="category in personCategories[person.name] | filter:saving">
        <th>{{category.name}}</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.categoryForName(month, category) | number : 2}}
        </td>
      </tr>
      <tr class="active">
        <th colspan="13">Expenses</th>
      </tr>
      <tr ng-repeat="category in personCategories[person.name] | filter:expense">
        <th>{{category.name}}</th>
        <td class="text-center" ng-repeat="month in months">
          {{month.categoryForName(month, category) | number : 2}}
        </td>
      </tr>
    </table>
  </div>
</div>